
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="/panel.html" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">CriptoNet</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Usuario</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                        class="nav-item">
                        <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">{{ user.get_username }}</span></a>

                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Navegación</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Inicio</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Tablas</label>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Productos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'productos_crear' %}" class="">Añadir</a></li>
                            <li class=""><a href="{% url 'productos' %}" class="">Vistas</a></li>

                        </ul>
                    </li>
                     <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span class="pcoded-mtext">Tipo de productos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'tipos_crear' %}" class="">Añadir</a></li>
                            <li class=""><a href="{% url 'tipos' %}" class="">Vistas</a></li>

                        </ul>
                    </li>
                     <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Marcas</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'marcas_crear' %}" class="">Añadir</a></li>
                            <li class=""><a href="{% url 'marcas' %}" class="">Vistas</a></li>

                        </ul>
                    </li>
                   {% comment %} <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-tag"></i></span><span class="pcoded-mtext">Servicios</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'servicios' %}" class="">Vistas</a></li>
                            <li class=""><a href="{% url 'servicios_crear' %}" class="">Añadir</a></li>
                        </ul>
                    </li>{% endcomment %}
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-headphones"></i></span><span class="pcoded-mtext">Empleados</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'empleados' %}" class="">Vistas</a></li>
                            <li class=""><a href="{% url 'empleados_crear' %}" class="">Añadir</a></li>
                        </ul>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Clientes</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'clientes_crear' %}" class="">Añadir</a></li>
                            <li class=""><a href="{% url 'clientes' %}" class="">Vistas</a></li>
                        </ul>
                    </li>
{% comment %}                     <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Mantenimientos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'mantenimientos' %}" class="">Vistas</a></li>
                            <li class=""><a href="{% url 'mantenimientos_crear' %}" class="">Añadir</a></li>
                        </ul>
                    </li>{% endcomment %}


                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span class="pcoded-mtext">Ventas</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'sales-list' %}" class="">Vistas</a></li>
                            <li class=""><a href="{% url 'new-sale' %}" class="">Añadir</a></li>
                        </ul>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-tag"></i></span><span class="pcoded-mtext">Compras</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'sales-list' %}" class="">Vistas</a></li>
                            <li class=""><a href="{% url 'new-sale' %}" class="">Añadir</a></li>
                        </ul>
                    </li>



                    <li class="nav-item pcoded-menu-caption">
                        <label>Respaldos</label>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Respaldos</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'export' %}" class="">Exportar base</a></li>
                            <li class=""><a href="{% url 'import' %}" class="">Importar base</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Usuarios</label>
                    </li>

                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Autenticación</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'register' %}" class="">Registrar Usuarios</a></li>
                        </ul>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Salir</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
