{% extends "layouts/base.html" %}
{% block title %} Purchases Bill No : {{ bill.billno }}{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'compras' %}">Compras</a></li>
                                        <li class="breadcrumb-item"><a href=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Typography ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>

                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">RECIBO DE COMPRA</p> </td>
                        </tr>

                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">CriptoNET</span> <br>
                                <span style="font-size: 120%; font-weight: bold;">Distribuidora de CriptoMX</span> <br>
                                <span style="font-weight: bold;">Domicilio fiscal:</span> Juarez #34, Colonia Centro 49000<br>Cd. Guzmán, Jalisco, México<br>
                                <span style="font-weight: bold;">EMAIL : criptomx3@mail.com</span> <br><br>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">RFC - CRM050522IJ7</td>
                                    </tr>

                                    <tr><td></td></tr>
                                    <tr>
                                        <td class="inner-box" style=" text-align: center; font-weight: bold;"colspan="3">&nbsp;RECIBO DE UTILIDAD ÚNICAMENTE PARA EL CONTROL DE LA EMPRESA DE CRIPTOMX, </td>
                                    </tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.cliente.nombreCliente }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;FECHA</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>

                                    <tr>
                                        <td class="inner-box" style="width: 25%;"></td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;"></td>
                                        <td class="inner-box align-middle" style="width: 25%;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DETALLES DE LA COMPRA</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> </td>
                                    </tr>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 4%; font-weight: bold; text-align: center;">NO.</td>
                                        <td class="inner-box" style="width: 24%; font-weight: bold; text-align: center;">PRODUCTO</td>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">CANTIDAD</td>
                                        <td class="inner-box" style="width: 15%; font-weight: bold; text-align: center;">PRECIO DE COMPRA</td>
                                        <td class="inner-box" style="width: 15%; font-weight: bold; text-align: center;">PRECIO DE VENTA</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">SUBTOTAL</td>

                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 4%;text-align: center;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 24%;text-align: center;">&nbsp; {{ item.stock.modelo }}</td>
                                            <td class="inner-box" style="width: 5%;text-align: center;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 15%;text-align: center;">&nbsp; ${{ item.preciocompra }}</td>
                                            <td class="inner-box" style="width: 15%;text-align: center;">&nbsp; ${{ item.precioventa }}</td>
                                            <td class="inner-box" style="width: 12%;text-align: center;">&nbsp;${{ item.totalprice }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>

                                    <tr>
                                        <td class="inner-box" style="width: 68%"></td>
                                        <td class="inner-box" style="font-weight: bold; width: 16%; text-align: center;" >&nbsp;TOTAL DE LA COMPRA</td>
                                        <td class="inner-box align-middle" style="width: 16%; text-align: center;">&nbsp; ${{ bill.get_total_price }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Imprimir</button>
            <button hidden class="center btn btn-success" type="submit">Save Draft</button>
            <a href="{% url 'compras' %}" class="btn center btn-secondary">Volver</a>
        </div>

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
        </script>

                                    </div>
                                </div>


                                <!-- [ Typography ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}










