{% extends "layouts/base.html" %}

{% block title %} {{ cliente.slug }} {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Cliente: {{ client.slug }}</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'clientes' %}">Clientes</a></li>
                                        <li class="breadcrumb-item"><a href="">{{ client.slug }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Typography ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Cliente: {{ client.slug }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <h3>ID del Cliente</h3>
                                            <p class="text-muted mb-4">{{ client.uniqueId }}</p>
                                            <h3>Nombre del Cliente</h3>
                                            <p class="text-muted mb-4">{{ client.nombreCliente }}</p>
                                            <h3>Domicilio</h3>
                                            <p class="text-muted mb-4">{{ client.domicilio }}</p>
                                            <h3>Estado</h3>
                                            <p class="text-muted mb-4">{{ client.estado }}</p>
                                            <h3>C&oacute;digo Postal</h3>
                                            <p class="text-muted mb-4">{{ client.codigoPostal }}</p>
                                            <h3>N&uacute;mero de tel&eacute;fono</h3>
                                            <p class="text-muted mb-4">{{ client.numTelefono }}</p>
                                            <h3>Correo electr&oacute;nico</h3>
                                            <p class="text-muted mb-4">{{ client.dirEmail }}</p>
                                            <h3>RFC del Cliente</h3>
                                            <p class="text-muted mb-4">{{ client.rfcCliente }}</p>
                                            <h3>Fecha de creaci&oacute;n del cliente</h3>
                                            <p class="text-muted mb-4">{{ client.date_created }}</p>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>


                                <!-- [ Typography ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
