{% extends "layouts/base.html" %}

{% block title %} Registros de Servicios {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Registros de servicios</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'servicios' %}">Servicios</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Registros de servicios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Servicios registrados</h5>
                                <span class="d-block m-t-5">Servicios registrados hasta la fecha</span>
                            </div>
                            {% if lista_servicios %}
                                <div class="card-block table-border-style">
                                    <table id="tabla-vistas" class="table table table-striped table-bordered table-sm">
                                        <thead>
                                            <tr>
                                                <th>Id del Servicio</th>
                                                <th>Nombre del servicio</th>
                                                <th>Precio del servicio</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for servicios in lista_servicios %}
                                            <tr>
                                                <th scope="row"><a href="{{ servicios.get_absolute_url }}">{{ servicios.id_servicio }}</a></th>
                                                <td>{{servicios.nom}}</td>
                                                <td>{{servicios.precio}}</td>
                                                <td>
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">Acciones
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="{{ servicios.get_absolute_url }}">Ver detalles</a>
                                                        <a class="dropdown-item" href="{{ servicios.get_absolute_url|add:'modificar/' }}">Modificar</a>
                                                        <a class="dropdown-item" href="{{ servicios.get_absolute_url|add:'borrar/' }}">Eliminar</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                            {% else %}
                                <div class="alert alert-primary d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" fill="currentColor"
                                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                         role="img" aria-label="Warning:">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    <div>
                                        No existen registros de productos
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <!-- [ basic-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        // Basic example
        $(document).ready(function () {
            $('#tabla-vistas').DataTable({
                "searching": true
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock javascripts %}
