{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% load custom_template_tags %}
{% block title %} Registros de Servicios {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Registros de ventas</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="{% url 'invoices' %}">Ventas</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Registros de ventas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Todas las ventas realizadas</h5>

                            </div>
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">Recibos</h1>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group me-2">
                                        <a href="{% url 'create-invoice' %}"><button type="button" class="btn btn-primary">Crear una nueva venta</button></a>
                                    </div>
                                </div>
                            </div>

                            <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

                            {% if invoices|length > 0 %}
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Titulo</th>
                                        <th>Cliente</th>
                                        <th># del Clienter</th>
                                        <th>Fecha creado</th>
                                        <th>Estado</th>
                                        <th>Borrar</th>
                                        <th>Editar</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for invoice in invoices %}
                                        <tr>
                                            <td>{{invoice.slug}}</td>
                                            <td>{{invoice.title}}</td>
                                            <td>{{invoice.client.nombreCliente}}</td>
                                            <td>{{invoice.client.numTelefono}}</td>
                                            <td>{{invoice.fecha_creacion}}</td>
                                            <td>{{invoice.estado}}</td>
                                            <td>
                                                <a href="{% url 'delete-invoice' invoice.slug %}"><button class="btn btn-danger"> BORRAR </button></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'create-build-invoice' invoice.slug %}"><button class="btn btn-primary"> EDITAR </button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-8">
                                    <h3>No se encuentran ventas aun, agrega algunas</h3>

                                </div>
                                <div class="col-lg-3">
                                </div>
                            </div>
                            {% endif %}
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
    </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        // Basic example
        $(document).ready(function () {
            $('#tabla-vistas').DataTable({
                "searching": true // false to disable search (or any other option)
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock javascripts %}
