{% extends "layouts/base.html" %}

{% block title %} {{ empleado.nombre }} {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">{{ empleado.nombre }}</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'empleados' %}">Empleados</a></li>
                                        <li class="breadcrumb-item"><a href="">{{ empleado.nombre }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Typography ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Empleado: {{ empleado.nombre }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <h3>ID del Empleado</h3>
                                            <p class="text-muted mb-4">{{ empleado.id_empleado }}</p>
                                            <h3>Nombre del Empleado</h3>
                                            <p class="text-muted mb-4">{{ empleado.nombre }}</p>
                                            <h3>RFC del Empleado</h3>
                                            <p class="text-muted mb-4">{{ empleado.rfc }}</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>


                                <!-- [ Typography ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
