{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load custom_template_tags %}
{% block title %} Reportes de clientes {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Reportes de clientes</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'clientes' %}">Clientes</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Reportes de clientes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                            <div class="card-header">
                                <h5>Clientes registrados</h5>
                                <span class="d-block m-t-5">Clientes registrados hasta la fecha</span>
                            </div>
                            {% if lista_clientes %}
                                <div class="card-block table-border-style">
                                    <table id="tabla-vistas" style="width:100%" class="table table table-striped table-bordered table-sm"  style="width:100%; table-layout:fixed; page-break-after: always;">
                                        <thead>
                                            <tr>
                                                <th>ID de cliente</th>
                                                <th>Nombre</th>
                                                <th># teléfono</th>
                                                <th>Estado</th>
                                                <th>Domicilio</th>
                                                <th>CP.</th>
                                                <th>Email</th>
                                                <th>RFC</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cliente in lista_clientes %}
                                            <tr>
                                                <th>{{ cliente.uniqueId |truncatechars:12 }}</th>
                                                <td>{{ cliente.nombreCliente }}</td>
                                                <td>{{ cliente.numTelefono }}</td>
                                                <td>{{ cliente.estado }}</td>
                                                <td>{{ cliente.domicilio }}</td>
                                                <td>{{ cliente.codigoPostal }}</td>
                                                <td>{{ cliente.dirEmail }}</td>
                                                <td>{{ cliente.rfcCliente }}</td>
                                                <td>{{ cliente.date_created.date }}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                            {% else %}
                                <div class="alert alert-primary d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" fill="currentColor"
                                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                         role="img" aria-label="Warning:">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                    </svg>
                                    <div>
                                        No existen registros de clientes
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        </div>
                        <!-- [ basic-table ] end -->

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


    <script>
        // Basic example
        $(document).ready(function () {
            $('#tabla-vistas').DataTable({
                dom: 'Bfrtip',
                "rowReorder": true,
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible',
                            rows: ':visible'
                        },
                        attr: {class: 'btn btn-secondary buttons-copy buttons-html5' },
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: ':visible',
                            rows: ':visible'
                        },
                        attr: {class: 'btn btn-secondary buttons-copy buttons-html5' },
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            rows: ':visible'
                        },
                        attr: {class: 'btn btn-secondary buttons-copy buttons-html5' },
                    },

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                "searching": false, // false to disable search (or any other option)

            });
        });

    </script>
    <script>




        var tfConfig = {
            base_path: '/static/assets/js/tablefilter/',
            alternate_rows: true,
            filters_row_index: 1,
            loader: true,
            status_bar: false,
            mark_active_columns: {
                highlight_column: false
            },
            highlight_keywords: false,
            no_results_message: false,

            col_3: 'select',

            col_types: [
                'string', 'string', 'string',
                'string', 'string', 'string',
                 'string', 'string',
            ],

            clear_filter_text: 'Sin filtro',

        };
        var tf = new TableFilter(document.querySelector('#tabla-vistas'), tfConfig);
        tf.fltCssClass = 'form-control form-select form-control-sm';
        tf.fltMultiCssClass = 'form-control form-select form-control-sm choices__input';

        tf.init();
    </script>
{% endblock javascripts %}
